// =========================================================
// set colors
// =========================================================

$page-background-color: #e6ecf0;
$grey-light: #ececea;
$grey-dark: #808080;
$red: #f00;
$red: #dc3545;
$white: #fff;
$green: #28a745;

// =========================================================
// apply colors
// =========================================================

$form-help-text-color: $grey-dark;
$form-error-text-color: $red;
$card-header-primary-background: #558c89;
$border-color: $page-background-color;
