<!doctype html>

<!–– Chnage your email, website and team name below and then erase this line ––>

<head>

  <title>System Error</title>

  <style>

    body { text-align: center; padding: 2em; }
    h1 { font-size: 2em; }
    body { font: 20px Helvetica, sans-serif; color: #333; }
    article { display: block; text-align: center; margin: 0 auto; max-width: 500px; }
    a { color: #dc8100; text-decoration: none; }
    a:hover { color: #333; text-decoration: none; }
    .image-container{ display: block; text-align: center; margin: 0 auto; max-width: 300px; }
    .logo { width: 100%; }

  </style>

</head>

<body>

  <article>

      <h1>Something went wrong :-(</h1>
      <h1> </h1>
      <div>
          <p style="line-height: 1.25">Sorry but it seems our system malfunctioned. Our apologies. Please go back to the app home page and try again.</p>
          <p style="line-height: 1.25">If this continues to happen, please contact us at <a href="mailto:support@servicedays.com">support@yourwebsite.com</a></p>
          <p>&mdash; The [Your Team Name] Team</p>
          <p style="margin:3em 1em;"><a href="https://app.yourwebsite.com" style="background:green;color:white;padding:1em;margin-top:3em;">Click Here to Go Home</a></p>
      </div>

  </article>

</body>
